/PythonCSM/CPP_wrapper/local_settings.py
csm_results*/
activate.bat 
activate 
activate.ps1
*.whl
!openbabel-wheels/*.whl
__pycache__/
.idea/
*.pyc
cmake/
msvc/
build/
*.log
*.sdf
*.suo
env/
/src/tests/local_settings.py
src/tests/argument_tests/files_for_tests/csm_tests/*
src/tests/regression_tests/files_for_tests/csm_tests
src/tests/argument_tests/files_for_tests/csm_results*
