/PythonCSM/CPP_wrapper/local_settings.py

activate.bat 
activate 
activate.ps1
wheels/
__pycache__/
.idea/
*.pyc
cmake/
msvc/
build/
*.log
*.sdf
*.suo
env/
/python/tests/test_cases/t05_crown12/*.json
/python/tests/test_cases/t05_crown12/molecules/*.xyz
*.json
