/PythonCSM/CPP_wrapper/local_settings.py
csm_results*/
activate.bat 
activate 
activate.ps1
*.whl
!openbabel-wheels/*.whl
__pycache__/
.idea/
*.pyc
cmake/
msvc/
build/
*.log
*.sdf
*.suo
env/
/src/tests/local_settings.py
